
body {
  display: flex;
  flex-direction: column;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.gnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-bottom: solid gray;
}

.gnav-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.gnav-link {
  font-size: 20px;
  padding: 0 50px;
  letter-spacing: 5px;
}

.title {
  font-size: 50pt;
  color: gray;
  background-color: Beige;
  border: 5px solid gray;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.who-am-i {
  padding-top: 200px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
} 

.who-am-i p {
  padding-left: 40px;
  font-size: larger;
  
}

.my-image-small {
  border-radius: 50%;
  border-color: gray;
  border: 2px solid gray;
  height: 10%;
  width: 10%;
}

.northcoders {
  text-align: center;
}

/* Languages */
#languages {
  background-color: wheat;
  border-radius: 10px;
  border: solid darkgray;
  margin: 20px;
  margin-top: 50px;
}

h2 {
  text-align: center;
  margin: 20px;
}

.language-list {
  display: flex;
  justify-content: center;
}

.language-item {
  list-style-type: none;
  font-size: 20px;
  padding: 0 40px;
  letter-spacing: 5px;
}

.project-img {
  height: 50px;
  width: 50px;
}

/* Projects */
#projects {
  background-color: wheat;
  border-radius: 10px;
  border: solid darkgray;
  margin: 20px;
  margin-top: 50px;
}

.project-lists {
  display: flex;
  justify-content:space-evenly;
  flex-direction: column;
} 


.project-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  border: solid darkgray;
  border-radius: 10px;
  width: 15%;
  font-size: 20px;
}


#contact {
  background-color: wheat;
  border-radius: 10px;
  border: solid darkgray;
  margin: 20px;
  text-align: center;
  margin-top: 50px;
}

.contact-list {
  display: flex;
  justify-content: space-around;
}