body {
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  
}

.title {
  font-size: 60pt;
  color: gray;
  background-color: Beige;
  border: 5px solid darkgray;
  text-align: center;
  border-radius: 10px;
}

.my-image {
  border-radius: 50%;
  border-color: gray;
  border: 10px solid gray;
  height: 25%;
  width: 25%;
}

.my-image-small {
  border-radius: 50%;
  border-color: gray;
  border: 2px solid gray;
  height: 5%;
  width: 5%;
}

.project-img {
  height: 50px;
  width: 50px;
}

#main {
  display: flex;
}

.languages {
  background-color: wheat;
  border-radius: 10px;
  margin: 5px;
}

.languages h2 {
  padding-left: 10px;
}

.projects ul {
  list-style-type: none;
}

.projects {
  background-color: wheat;
  border-radius: 10px;
  margin: 5px;
}

.projects h2 {
  padding-left: 10px;
}

.contact {
  background-color: wheat;
  border-radius: 10px;
  margin: 5px;
}
.contact h2 {
  padding-left: 10px;
}